* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  gap: 60px;
}

body {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #fff;
  color: #222;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  font-size: 14px;
  max-width: 900px;
  margin: 0 auto;
  padding: 60px 20px;
}

.profile {
  width: 150px;
  height: 150px;
  border-radius: 5%;
  background: url("abner-pb.jpg") no-repeat center center;
  background-size: cover;
}
.profile-container {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Agdasima", sans-serif;
  font-size: 3em;
  letter-spacing: 4px;
}
h2 {
  font-family: "Agdasima", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 4px;
}
ul {
  padding-left: 18px;
}
li {
  margin-bottom: 15px;
  font-size: 1em;
}
a {
  color: #222;
  text-decoration: none;
  border-bottom: 2px solid #222;
  transition: border-bottom 0.3s;
}
footer {
  text-align: center;
  font-size: 0.9em;
  color: #555;
}
nav a {
  margin-right: 20px;
}
main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 600px) {
  body {
    padding: 30px 20px;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.8em;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  .profile-container {
    width: 100%;
  }
}
