/* Reset & Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #222;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  font-size: 14px;
  max-width: 900px;
  margin: 0 auto;
  padding: 60px 20px;
}
/* Header */
header {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.profile {
  width: 150px;
  height: 150px;
  border-radius: 5%;
  background: url("abner-pb.jpg") no-repeat center center;
  background-size: cover;
}
.profile-container {
  display: flex;
  justify-content: center;
}
h1 {
  font-family: "Agdasima", sans-serif;
  font-size: 3em;
  margin-bottom: 10px;
  letter-spacing: 4px;
}
/* Section Titles */
h2 {
  font-family: "Agdasima", sans-serif;
  font-size: 2em;
  margin: 40px 0 20px;
  position: relative;
  padding-bottom: 10px;
  text-transform: uppercase; /* Adds a modern, fashion-forward feel */
  letter-spacing: 4px;
}
/* Content */
ul {
  padding-left: 18px;
}
li {
  margin-bottom: 15px;
  font-size: 1em; /* Keeps list text crisp and refined */
}
a {
  color: #222;
  text-decoration: none;
  border-bottom: 2px solid #222;
  transition: border-bottom 0.3s;
}
/* Footer */
footer {
  text-align: center;
  margin-top: 60px;
  font-size: 0.9em;
  color: #555;
}
nav a {
  margin-right: 20px;
}
main {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
}
/* Responsive Design */
@media (max-width: 600px) {
  body {
    padding: 30px 20px;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.8em;
  }
  main {
    grid-template-columns: 1fr;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  .profile-container {
    width: 100%;
  }
}
